@charset "utf-8";

		.contents { margin-top: 180px; text-align: center; height: 650px; width: 100%;}
        .contents div {float: left; margin-top: 50px;}
        .left { width: 10%; height: 50%; margin-left: 20%; margin-right: 2%;}
        .left a {display: block; width: 90%; height: 50px; font-size: 14px; color: black; background-color: rgb(190, 214, 221); margin: 10px; line-height: 50px;
                font-weight: 800; border-radius: 15px;}
        .left a:hover {background-color: rgb(150, 200, 255); color: white;}   
        .left a:first-child {background-color: rgb(150, 200, 255); color: white;}   
        .right { width: 45%; height: 50%;}
        .right table {border: 1px solid #333; width: 100%;}
        .right table th { border: 1px solid #333; background-color: rgb(190, 214, 221);}
        .right table tr:hover {background-color: rgb(190, 214, 221);}